{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">👤 Ваш профиль</h4>
        </div>
        <div class="card-body">
            <p><strong>Имя:</strong> {{ user.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>

            <a href="{% url 'profile_edit' %}" class="btn btn-outline-primary mt-3">✏️ Редактировать</a>
        </div>
    </div>
</div>
{% endblock %}
